body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style-type: none;
}
.selected{
  margin: 25px;
}
.chartDisplay{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.dropdown-menu {
  height: 1000%;
  overflow-y: scroll;
}
.selectButton{
  margin-top: 1%;
}
.dropdown-toggle,
.dropdown-menu {
  width: 50%;
}